.product-cards__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
  align-items: center;
  margin: 26px 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    margin: 120px 0;
  }
}

.product-card {
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: whitesmoke !important;
}

summary {
  font-size: 1.25em;
  font-weight: 500;
}

.feature__item {
  margin: 15px;
}

.form {
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 15px;
}

.text-field input {
  width: 100%;
  height: 32px;
  font-size: 1em;
  padding-bottom: 2px;
  padding-top: 2px;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.country-select {
  text-align: left;
  font-size: 1em;
}

.submit-button {
  margin-top: 10px;
  text-align: center;
  width: 100%;

  input {
    width: 100%;
    transition: background 400ms;
    color: #fff;
    background-color: #4c8314;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  input:hover {
    background-color: #6ca84d;
  }
}
